extends layout

block content
  #mainContainer.container-fluid.p-0.m-0
    .row
      .col-2#searches
        .jumbotron#searchJumbo
          input.form-control#search_name(placeholder='Search')


      .col-10#results
        .jumbotron#jumboGrid
            .row#gridBox 
              each val, index in project
                .col-3.m-4.p-3.card(class="projectGrid", data-detail=val)
                  // img#gridImage(src='project.jpg', alt='Smiley face', width='100%', height='70')
                  .card-body
                    h3.card-title= val.projectName
                    p
                      .card-text= "Category: "+val.projectCategory
                      .card-text= "Languages: "+val.languages
                      .card-text= "Frameworks: "+val.frameworks
                      
  
  
  form#hiddenForm(type="hidden" action="/projectData", method="POST")
    input(type="text", name="id", id="anup")
  
  script.
    $("body").on("click", function(){
      console.log("body clicked!");
    })
    $('#gridBox').on("click", ".projectGrid", function(e){
      var data = $(this).data('detail');
      data = JSON.stringify(data);
      $("#anup").val(data);
      $("#hiddenForm").submit();
      console.log(data);8
    })
    
    // $('.projectGrid').on("click", "body", function(){
    //     console.log("clicked!");
    //     // var data = this.id;
    //     // console.log(data.projectName);
    //     // console.log("clicked!");
    //     // $("#anup").val(data);
    //     // $("#hiddenForm").submit();
    // })